version: "3"

services:
  postgres:
    container_name: postgres
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: voucher-service
  third-party:
    container_name: third-party-service
    build:
      context: ../third-party-service
    ports:
      - "8081:8081"
  app:
    container_name: voucher-service
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      - third-party
      - postgres
